body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.coa {
	margin-left: 40%;
}

.coa button {
	height: 100px;
	width: 100px;
}
.form-inline .form-group{
    margin-left: 0;
    margin-right: 0;
}
.food-form {
	margin-top: 10px;
	margin-left: 23%;
	visibility: hidden;
}
.btn-submit{
	margin-left:53%;
}
.receive-page {
	margin-top: 10px;
	margin-left: 23%;
	visibility: hidden;
}

.list-group-item {
	width: 600px;
	text-align: center;
}

.team {
	margin-left: 210px;
}

.social {
	margin-top: 10px;
	margin-left: 23%;
}

.logo {
	width: 100px;
	height: auto;
}
